/******FONT******/

@font-face {
    font-family: yekan;
    src: url(../font/iranyekanwebbold.ttf);
}

/******FONT******/


/*****BODY*****/

*{
    direction: rtl;
    font-family: yekan;
    box-sizing: border-box;
}

body{
    background-color: #040810;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}


/*****BODY*****/

/*****NAV******/

.my-nav{
    padding: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1c2028;
}

.my-nav-box-search{
    width: 900px;
    background-color: #040810;
    display: flex;
    align-items: center;
    padding: 11px 15px;
    border-radius: 7px;
    border: 1px solid #5c5f61;
    margin-left: 25px;
    transition: all 0.5s;
}

.my-nav-icon-search{
    color: #5c5f61;
    transition: all 0.5s;
}

.my-nav-input-search{
    background: none;
    outline: none;
    border: none;
    margin-right: 15px;
    width: 100%;
    color: white;
    transition: all 0.5s;
}

.my-nav-input-search-frequent{
    position: absolute;
    border-radius: 7px;
    background-color: #212529;
    border: 1px solid #5c5f61;
    width: 900px;
    top: 90px;
    padding: 20px;
    display: none;
    transition: all 0.5s;
    z-index: 1;
}


.my-nav-input-search-item{
    color: white;
    border: 1px solid #5c5f61;
    padding: 3px;
    border-radius: 50px;
    font-size: 13px;
    margin-left: 7px;
    margin-top: 15px;
}

.my-nav-input-search-item:hover{
    color: white;
}

/* #4cd5dc;*/

.my-nav-login{
    border: 1px solid #5c5f61;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding:10px;
    color: #dce0e8;
    margin-left: 13px;
}

.my-nav-buy{
    padding: 12px;
    color: #dce0e8;
    border: 1px solid #5c5f61;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-left: 13px;
}

.my-nav-buy-information{
    position: absolute;
    background-color: #212529;
    border-radius: 7px;
    border: 1px solid #5c5f61;
    top: 85px;
    left: 170px;
    width: 350px;
    height: 400px;
    text-align: center;
    display: none;
    z-index: 1;
}

.my-nav-light{
    padding: 10px 12px;
    color: #dce0e8;
    display: flex;
    align-items: center;
    border-radius: 7px;
    transition: all 0.5s;
}

.my-nav-light:hover{
    background-color: #191c1e;
}

.my-nav-bottom{
    margin-top: 20px;
    
}

.my-nav-list{
    margin-left: 450px;
}

.my-nav-list-item{
    color: #dce0e8;
    font-size: 14px;
    padding: 15px;
    margin-left: 10px;
}

.my-nav-list-item:hover{
    border-bottom: 2px solid  #4cd5dc;
    color: #dce0e8;
}

.my-nav-list-item-end{
    color: #bb33ff;
    font-size: 14px;
    padding: 15px;
}

.my-nav-list-item-end:hover{
    border-bottom: 2px solid #bb33ff;
    color: #bb33ff;
}

.my-nav-list-item-icon{
    color: #5c5f61;
}

.my-nav-end{
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    z-index: 2;
    background-color: #1c2028;
    
}

/*****NAV******/
/****ANOTHER SIZE***/
@media only screen and (max-width:1030px){
    .my-nav-box-search{
        width: 500px;
    }

    .my-nav-input-search-frequent{
        width: 500px;
    }

    .my-nav-list{
        margin-left: 200px;
    }

    .my-nav-list-item{
        font-size: 12px;
    }

    .my-nav-list-item-end{
        font-size: 12px;
    }

    
    .my-nav-buy-information{
        width: 200px;
        height: 200px;
        left: 120px;
    }

    .buy-img{
        width: 50px;
        margin-top: 0px;
    }
}

@media only screen and (max-width:1260px){
    .my-nav-box-search{
        width: 300px;
    }

    .login-text{
        display: none;
    }

    .my-nav-input-search-frequent{
        width: 200px;
    }

    .my-nav-list{
        margin-left: 0px;
    }

    .my-nav-list-item{
        font-size: 12px;
    }

    .my-nav-list-item-end{
        font-size: 12px;
    }

    .my-nav-buy-information{
        width: 200px;
        height: 200px;
        left: 120px;
    }

    .my-nav-download{display: none;}

    .buy-img{
        width: 50px;
        margin-top: 0px;
    }


}

@media only screen and (min-width:550px){
    .my-nav-end{
        display: none;
    }
}



@media only screen and (max-width:550px){
    .my-nav-light{
        display: none;
    }

    .my-nav-buy{
        border: none;
        padding: 0px;
    }

    .my-nav-buy-information{
        width: 100px;
        height: 100px;
        left: 30px;
        top: 70px;
    }

    .buy-text{
        font-size: 10px;
    }

    .buy-img{
        display: none;
    }

    .my-nav-login{
        border: none;
        padding: 0px;
    }
    
    .my-nav-box-search{
        width: 200px;
        padding: 5px 10px;
    }

    .my-nav-input-search-frequent{
        width: 200px;
    }

    .my-nav-input-search-item{
        display: inline;
        font-size: 10px;
        padding: 5px;
        border: none;
    }

    .brand-img{
        width: 70px;
    }

    .carousel-indicators{
        display: none;
    }

    .carousel-control-prev{display: none;}

    .carousel-control-next{display: none;}

    .my-nav{
        padding: 10px 0px;
    }

    .my-nav-bottom{
        margin: 0px;
    }



}

@media only screen and (max-width:1320px){
    .my-nav-list{
        display: none;
    }

    .my-nav-download{
        display: none;
    }
}

@media only screen and (max-width:1295px){
    .my-nav-light{
        display: none;
    }

    .my-nav-end{
        display: block;
    }
}



@media only screen and (max-width:380px) {
    .brand-img{
        width: 50px;
    }

    .my-nav-box-search{
        width: 100px;
        padding: 4px 5px;
    }

    
}
/****ANOTHER SIZE***/
/****MINI CARD******/

.my-mini-card{
    background-color: #212529;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    margin: 10px;
}
/****MINI CARD******/
/*******CARDS*******/

.my-card-issue{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-card-issue-line{
    background-color: #444749;
    width:980px;
    height: 1px;
}

.my-card-issue-span{
    color: #4cd5dc;
    font-size: 14px;
}

@media only screen and (max-width:1400px){
    .my-card-issue-line{
        width: 700px;
    }
}

@media only screen and (max-width:1205px){
    .my-card-issue-line{
        display: none;
    }

    .my-card-issue{
        justify-content: space-between;
    }
}

@media only screen and (max-width:330px){
    .my-card-issue-h5{
        font-size: 15px;
    }

    .my-card-issue-span{
        font-size: 12px;
    }
}

.my-cards{
    margin-top: 30px;
}

.my-card-item{
    display: flex;
    flex-direction: column;

}

.my-card-item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    height: 230px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.my-card-item-text{
    background-color: #1c2028;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.my-card-item-text-price{
    color: white;
    padding: 15px 0px;
    text-align: left;
    border-top: 1px solid #444749;
    margin-top: 15px;
}

.my-card-item-img-icon-book{
    position: absolute;
    background-color: #191c1eb1;
    color: white;
    padding: 7px;
    top: 195px;
    right: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.my-card-item-img-icon-voic{
    position: absolute;
    background-color: #191c1eb1;
    color: white;
    padding: 7px;
    top: 195px;
    right: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}
/*******CARDS******/

/*****FOOTER*****/

.my-footer-landscape{
    background-color: #1c2028;
}


.my-footer-landscape-right-top-item{
    color: #a9abad;
    font-size: 13px;
}

.instagram{
    background: linear-gradient(80deg, #FFC700 0% , #e21e80 40% , #793FDF 100%);
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 7px;
}

.my-footer-landscape-top-left{
    background-color: #040810;
    border-radius: 7px;
    padding: 30px 20px;
}

.my-footer-landscape-top-left-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #5c5f5c;
    padding-bottom: 30px;
    margin-bottom: 40px;

}

.my-footer-landscape-top-left-nav-img{
    width: 45px;
    margin-left: 10px;
}

.my-footer-landscape-top-left-nav-arrow{
    color: white;
    border: 1px solid #5c5f61;
    padding: 6px 7px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.my-footer-landscape-top-left-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24292e9b;
    border: 1px solid #5c5f61;
    border-radius: 7px;
    padding: 6px 6px ;
    width: 130px;
}

.my-footer-landscape-bottom-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-footer-portrait{
    display: none;
}

.my-footer-portrait-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c2028;
    border-radius: 10px;
    padding: 10px;
}

.my-footer-portrait-body{
    background-color: #1c2028;
    border-radius: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.my-footer-portrait-body-card{
    border-bottom: 1px solid #5c5f61;
    padding: 10px;
}

@media only screen and (max-width:1400px){
    .my-footer-landscape{
        display: none;
    }

    .my-footer-portrait{
        display: block;
    }
}

/*****FOOTER*****/

